@import '../settings.scss';

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $box-gap;

    .logo {
        @include svg-button($heading-bar-height, url(icons/logo.svg));
        width: auto;
        padding-left: $heading-bar-height + $box-gap;
        background-position: left;

        h1 {
            color: $secondary-font-color;
            font-size: 22px;
            line-height: 40px;
        }
    }

    .search-bar {
        display: grid;
    }

    .main-board {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: $box-gap;
        }

        .add-button {
            @include svg-button($heading-bar-height, url(icons/add.svg));
        }

        .update-button {
            @include svg-button($heading-bar-height, url(icons/bank.svg));
        }
    }
}
