@import '../settings.scss';

.cart {
    height: calc(100vh - 140px);
    display: grid;
    grid-template-rows: ($heading-bar-height + $box-gap) 1fr 40px;

    .box-body {
        overflow-y: scroll;

        li {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: $box-padding;

            h4, p {
                margin: 0;
            }
        }
    }

    .box-footer {
        border-top: solid 1px $primary-color;

        h2 {
            font-size: 18px;
            padding-top: 0;
            margin: 0;
        }
    }
}
