@import '../settings.scss';

$heading-bar-height: 45px;

.item-box {
    display: grid;
    grid-template-rows: $heading-bar-height 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: $box-gap;
    grid-column-gap: $box-gap;

    .search-bar {
        grid-column: 1;
    }
    .main-board {
        grid-column: 2;
    }
    .items {
        grid-column: 1/3;
    }
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr;
}

.main-board {
    display: flex;
    flex-direction: row-reverse;

    .add-button {
        @include svg-button($heading-bar-height, url(icons/add.svg));
    }
}

.items {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $box-gap;
    }

    li {
        @include box-side-padding;
        @include box-vertical-padding;
        list-style: none;
        background: $secondary-background-color;
        border-top: solid 5px $decoration-color;
        border-radius: $box-radius;

        

        .edit-button {
            @include svg-button(20px, url(icons/edit.svg));
            text-align: right;
        }

        .item-title {
            display: grid;
            grid-template-columns: 1fr 50px;

            h3 {
                margin: 0;
                font-size: 17px;
            }

            span {
                text-align: right;
                color: $primary-color;
            }
        }
    }
}
