@import '../settings.scss';

.item-box {
    display: grid;
    grid-template-rows: $heading-bar-height 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: $box-gap;
    grid-column-gap: $box-gap;

    .search-bar {
        grid-column: 1;
    }
    .main-board {
        grid-column: 2;
    }
    .items {
        grid-column: 1/3;
    }
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr;
}

.main-board {
    display: flex;
    flex-direction: row-reverse;

    .add-button {
        @include svg-button($heading-bar-height, url(icons/add.svg));
    }
}

.items {
    ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $box-gap;
    }

    li {
        background: $secondary-background-color;
        border-top: solid 5px $decoration-color;
        border-radius: $box-radius;

        .item-info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: $box-gap;
            grid-row-gap: $item-gap;
            font-size: 14px;
            font-style: italic;
            padding-bottom: $box-gap;
        }

        .item-record {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: $box-gap;
            grid-row-gap: $item-gap;
        }

        h3 {
            margin: 0;
            font-size: 17px;
            color: $primary-hover-color;
        }

        span {
            color: $primary-hover-color;
        }

        span.info-details {
            color: $font-color;
        }

        p {
            margin: 0;
            padding: 0;
        }

        p.title {
            font-weight: bold;
            text-transform: uppercase;
        }

        p.sell-out {
            color: $font-color;
        }

        p.sell-price {
            font-weight: bold;
        }

        p.buy-in {
            font-size: $fs-small;
            color: $secondary-hover-color;
        }

        p.price-difference {
            font-size: $fs-small;
            color: grey;
        }

        .edit-button {
            @include svg-button(20px, url(icons/edit.svg));
            margin-left: $item-gap;
        }

        .box-footer {
            padding-top: $box-padding;
        }
    }
}
