@import '../settings.scss';

.add-item {
    .box-body {
        display: grid;
        grid-template-columns: 105px 1fr 40px;
        grid-column-gap: $box-gap;
        grid-row-gap: $item-gap;
        align-items: center;
    }

    div#gold-age {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $item-gap;
    }

    .gold-age-radio {
        input {
            display: none;
            &:hover + label {
                opacity: 0.8;
            }
            &:checked + label {
                background: $primary-color;
                color: $secondary-font-color;
            }
        }

        label {
            border-radius: $button-radius;
            display: inline-block;
            padding: ($button-label-padding + 3) $button-label-padding $button-label-padding $button-label-padding;            
            border: solid 1px $primary-color;
            cursor: pointer;
            white-space: nowrap;
            font-size: $fs-small;
            width: 89px;
            height: 18px;
            text-align: center;
        }
    }
}
