@import './settings.scss';

body {
    font-family: $font-main;
    font-size: $fs-medium;
    background: $background-color;
    padding: $window-padding;
    color: $font-color;
}

ul {
    padding: 0;
}

input {
    @include input;
    height: 34px;
}

.button {
    @include button;
}

.primary-button {
    @include button;
    background: $primary-color;
}

h2 {
    font-size: $fs-title;
    margin: 0;
    padding-top: 4px;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 65px 1fr;
    grid-gap: $box-gap;

    .header {
        grid-column: 1/6;
        grid-row: 1;
    }

    .item-box {
        grid-column: 1/4;
        grid-row: 2;
    }

    .cart {
        grid-column: 4/6;
        grid-row: 2;
    }
}

.overlay {
    @include overlay;
}
