@import './settings.scss';

body {
    font-family: $font-main;
    font-size: $fs-medium;
    background: $background-color;
    padding: $window-padding;
    color: $font-color;
}

ul {
    padding: 0;
    margin: 0;
}

input {
    @include input;
    height: 34px;
}

.button {
    @include button;
}

.primary-button {
    @include button;
    background: $primary-color;
}

h2 {
    font-size: $fs-title;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 65px 1fr;
    grid-gap: $box-gap;

    .header {
        grid-column: 1/6;
        grid-row: 1;
    }

    .item-box {
        grid-column: 1/4;
        grid-row: 2;
    }

    .cart {
        grid-column: 4/6;
        grid-row: 2;
    }
}

.overlay {
    @include overlay;
}

.pop-up {
    @include radius($box-radius);
    background: $secondary-background-color;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box-header {
    @include title-header;
    min-width: 200px;

    .close-button {
        @include svg-button(20px, url(icons/close.svg));
        position: absolute;
        right: $box-padding;
        top: $box-padding;
    }
}

.box-body {
    padding: $box-padding;
}
