@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-main: 'Roboto';
$fs-medium: 15px;
$fs-title: 18px;

$font-color: #000;
$secondary-font-color: #FFF;

$background-color: #4844A3;
$secondary-background-color: #FFF;

$primary-color: #2ecc71;
$primary-hover-color: #27ae60;

$secondary-color: #af71aa;
$secondary-hover-color: #9c6497;

$decoration-color: #f1c40f;
$header-color: #2ecc71;

$overlay-color: #000;

$window-padding: 15px;

$box-padding: 20px;
$box-gap: 15px;
$box-radius: 8px;

$button-padding: 25px;
$button-radius: 20px;

// Animation
$transition-speed: .2s;
$enlarge-scale: 1.2;

@mixin box-side-padding {
    padding-left: $box-padding;
    padding-right: $box-padding;
}

@mixin box-vertical-padding {
    padding-top: $box-padding;
    padding-bottom: $box-padding + 5px;
}

@mixin button-side-padding {
    padding-left: $button-padding;
    padding-right: $button-padding;
}

@mixin hover-effect {
    opacity: 0.8;
}

@mixin box {
    @include box-vertical-padding;
    @include box-side-padding;
}

@mixin input {
    @include box-side-padding;
    border-radius: $button-radius;
    font-size: $fs-medium;
    border: solid 1px $primary-color;
}

@mixin radius($radius) {
    border-radius:$radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin button($type:false, $height: 37px) {
    @include button-side-padding;
    @include radius($button-radius);
    height: $height;
    color: $secondary-font-color;
    border: none;
    color: $secondary-font-color;
    font-size: $fs-medium;
    cursor: pointer;
    background: $secondary-color;
    transition: opacity $transition-speed ease-in;

    &:hover {
        @include hover-effect
    }
}

@mixin svg-button($size, $icon-url) {
    width: $size;
    height: $size;
    background: $icon-url;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
    border: none;
    cursor: pointer;
    transition: opacity $transition-speed ease-in;

    &:hover {
        @include hover-effect;
    }
}

@mixin overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-color;
    opacity: 0.7;
}

@mixin title-header {
    @include box-vertical-padding;
    background: $header-color;
    color: $secondary-font-color;
    text-align: center;
    border-top-left-radius: $box-radius;
    border-top-right-radius: $box-radius;
}
